*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* 30px divided by 10px = 3rem */
  padding: 3rem;
  box-sizing: border-box;
  background-color: blue;
}

