/* const frameContainerStyles= {
  height: "100px",
    width: "100px",
    display: "inlineBlock",
    borderStyle: "solid"
}

const scoreTotalStyles= {
  backgroundColor: "grey",
    height: "100%",
    width: "100%",
    position: "relative"
}

const r1Styles= {
  backgroundColor: "yellow",
    borderStyle: "solid",
    borderWidth: "1px",
    position: "absolute",
    top: "0",
    right: "0",
    height: "40%",
    width: "40%",
    margin: "0"
}

const scoreTextStyle= {
  position: "absolute",
    bottom: "0",
    left: "48%",
    textAlign: "center"
} */