/* const selectionHeading= {
  paddingRight: "25px"
}

const containerStyles= {
  marginLeft: "40px",
    display: "block",
    fontSize: "1.2rem",
    backgroundColor: "lighGrey"
}

const selectionStyles= {
  display: 'inline',
    margin: '150px 0 150px 0',
    borderRadius: "150px",
    backgroundColor: "darkGrey",
    borderLine: ".75px",

} */